/* General styling */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background-grey: rgba(85, 85, 85, 0.25);
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 100;
  font-size: 20px;
  height: 100vh;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#currentConditionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header styling */
#locationName {
  font-size: 2rem;
  margin-top: 5rem;
}

#country {
  font-size: 1rem;
}

#currentTemp {
  font-size: 5rem;
  padding-left: 0.8rem;
  letter-spacing: -0.25rem;
}

/* Current weather details */
#currentConditionText {
  font-size: 1rem;
  margin-top: 10px;
  font-size: 18px;
  color: #444;
}

#currentConditionShort {
  font-size: 1rem;
}

#minMaxTempContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#todaysMaxTemp,
#todaysMinTemp {
  font-size: 1rem;
  margin: 0.25rem;
}

/* Hourly forecast styles */
#hourlyForecast .weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#inputLocation {
  border: none;
  border-radius: 0.75rem;
  margin-top: 5rem;
  font-family: "Roboto", "Arial", sans-serif;
  padding: 0.25rem;
  font-size: 1rem; /* Slightly larger font size */
  text-align: center;
  background-color: var(--background-grey);
  color: white;
  transition: box-shadow 0.3s, transform 0.3s; /* Add transition for box-shadow and transform */
  width: 100%; /* Take up full width of its container */
  box-sizing: border-box; /* Ensure padding doesn't make the input larger than its container */
  outline: none; /* Remove default outline */
}

#inputLocation::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#inputLocation:focus {
  transform: scale(1.1);
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 18px;
  margin-bottom: 10px;
}

.time {
  font-size: 14px;
  color: #666;
}

/* Weekly forecast styles */
#weeklyForecast .weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
