:root {
  --background-grey: rgba(85, 85, 85, 0.25);
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 100;
  font-size: 20px;
  height: 100vh;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.45);
  font-weight: 300;
  margin: 0;
}

/* Header styling */
#currentConditionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#currentConditionShortText,
#locationName {
  font-size: 1.5rem;
}

#country,
#currentLocalTime,
#currentConditionText,
#todaysMaxTemp,
#todaysMinTemp {
  font-size: 1rem;
}

#currentTemp {
  font-size: 5rem;
  padding-left: 0.8rem;
  letter-spacing: -0.25rem;
}

/* Current weather details */
#minMaxTempContainer {
  display: flex;
}

#todaysMaxTemp,
#todaysMinTemp {
  margin: 0.25rem;
}

/* Search Input */
#inputLocation {
  outline: none;
  border: rgb(150, 150, 150, 0.25) 1px solid;
  border-radius: 0.75rem;
  margin: 5rem 0 5rem 0;
  font-family: inherit;
  text-align: center;
  padding: 0.25rem;
  font-size: 1rem;
  background-color: var(--background-grey);
  color: white;
  transition: box-shadow 0.3s, transform 0.3s;
  width: 100%;
  box-sizing: border-box;
}

#inputLocation::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#inputLocation:focus {
  transform: scale(1.1);
}

/* Hourly and Weekly Forecast Common Styles */
#hourlyForecastContainer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  margin-top: 5rem;
  background-color: var(--background-grey);
}

.hour{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hour,
.hourlyTemp{
  margin-left: 0.75rem;
}

.hourlyWeatherIcon {
  max-width: 50px;
  max-height: 50px;
  margin: 0.25rem;
}

.temperature {
  font-size: 18px;
  margin-bottom: 10px;
}

.time {
  font-size: 14px;
  color: #666;
}

#weeklyForecastContainer .weather-info {
  margin: 20px;
}
